// colors
$white: #ffffff;
$black: #000000;
$charcoal-black: #282b2d;
$snow-white: #f5f5f5;

//fonts
$my-prettyfont: 'DM Sans', sans-serif;

//titles
$extra-large-thin-title: 100 65px/1.2 $my-prettyfont;
$medium-title: 300 20px/1.4 $my-prettyfont;
$extra-small-text: 400 12px/1.45 $my-prettyfont;
$small-text: 400 16px/1.4 $my-prettyfont;


$title-font: 200 4rem/1.4rem $my-prettyfont;
$small-text: 400 16px/1.4 $my-prettyfont;
$small-title-font: 400 1rem/1.4rem $my-prettyfont;
$paragraph-font: 300 1.3rem/1.3rem $my-prettyfont;
$small-paragraph-font: 200 1rem/1.4rem $my-prettyfont;
$button-font: 400 1rem/1.3rem $my-prettyfont;

//media sizes
$mobile-width: 430px;
$large-desktop: 1400px;
